<div style="text-align:center">
  <h1>US Time Zone Display</h1>



  <ul>
    <li (click)="display('PST')" [ngClass] = "{active: switchP, square: true}"> PST </li>
    <li (click)="display('MST')" [ngClass] = "{active: switchM, square: true}"> MST </li>
    <li (click)="display('CST')" [ngClass] = "{active: switchC, square: true}"> CST </li>
    <li (click)="display('EST')" [ngClass] = "{active: switchE, square: true}"> EST </li>
    <li (click)='clear()'>Clear</li>
  </ul>

  <h3 name = "time_display">{{ time | date:'mediumTime' }}</h3>


 